.navigation {
  width: 100%;
  height: 80px;
  background-color: #2C2C2C;
  display: flex;
  line-height: 80px;
}
.navigation-down{
  position: fixed;
  bottom: 0;
  justify-content: center;
  div{
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    i{
      position: absolute;
      top: calc(50% - 80px);
      right: calc(50% - 80px);
      height: 160px;
      width: 160px;
      background: #fff;
      //margin: -30px;
      border-radius: 100%;
      opacity: 1;
      transform: scale(0);
      z-index: 9999;
      &.active{
        transition: transform 300ms ease, opacity 300ms ease;
        opacity: 0;
        transform: scale(1);
      }
    }
  }
}
